body{
  background: black;
}
#rave{
  background: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: raveOn .5s infinite;
}
#raveTxt{
  width: 300px;
  height: 45px;
  color: white;
  margin:40px auto;
  border-radius: 50%;
  font-family: arial;
  font-weight: bold;
  display: block;
  cursor: pointer;
  text-align: center;
  position: relative;
}
@-webkit-keyframes raveOn{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@-webkit-keyframes raveTxtOn{
  0%{
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}
